@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #E8E8E8;
    --second-bg-color: #D51616;
    --accent-color: #62466B;
    --main-color: #C97979;
    --text-color: #000000;

    --bg-color1: #595758;
    --second-bg-color1: #ADBDFF;
    --accent-color1: #B0FE76;
    --main-color1: #5b7c63;
    --text-color1: #FFFFFF;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: transparent;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 450;
    margin-left: 3.5rem;
    transition: 0.25s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--accent-color);
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 5% 2rem;
}

.home-img img {
    position: relative;
    display: inline-block;
    max-width: 575px;
    width: 100%;
    border-radius: 50%;
    border: 0.5rem solid var(--second-bg-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
}

.home {
    display: flex;
    align-items: center;
    padding: 0 5%;
    
    justify-content: space-between;
}

.home-content {
    position: relative;
    display: inline-block;
    max-width: 60rem;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.5rem;
    font-weight: 700;
}

.home-content .text-animate {
    position: relative;

}

.home-content .text-animate h3 {
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.2px var(--accent-color);
}

.home-content p {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1.5rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--second-bg-color);
    border: 0.2rem solid var(--second-bg-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
    border-radius: 0.8rem;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box .btn:hover{
    color: var(--second-bg-color);
}

.btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-socials {
    position: absolute;
    width: 100px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--accent-color);
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--accent-color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-socials a:hover{
    color: var(--bg-color);
}

.home-socials a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--accent-color);
    z-index: -1;
    transition: 0.5s;;
}

.home-socials a:hover::before {
    width: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--main-color)

}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--second-bg-color);
}

.about-me-img {
    position: relative;
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.4rem solid var(--second-bg-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
}

.about-me-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.4rem solid var(--second-bg-color);
    border-left: 0.4rem solid var(--main-color);
    border-bottom: 0.4rem solid var(--second-bg-color);
    border-right: 0.4rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
}

.about-content p {
    position: relative;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
    border-radius: 0.8rem;
}

.edu-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.edu-exp .edu-exp-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.edu-exp .edu-exp-column {
    flex: 1 1 40rem;
}

.edu-exp-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    color: var(--second-bg-color);
    margin: 0 0 1.5rem 2rem;
}

.edu-exp-column .edu-exp-box {
    position: relative;
    border-left: .2rem solid var(--accent-color);
}

.edu-exp-box .edu-exp-content {
    position: relative;
    padding-left: 2rem;
}

.edu-exp-box .edu-exp-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--accent-color);
    border-radius: 50%;
}

.edu-exp-content .content {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 1.5rem;
    border: 0.2rem solid var(--accent-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.edu-exp-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}

.edu-exp-content .content:hover::before {
    width: 100%;
}

.edu-exp-content .content .year {
    font-size: 1.5rem;
    color: var(--second-bg-color);
    padding-bottom: .5rem;
}

.edu-exp-content .content .year i {
    padding-right: 0.5rem
}

.edu-exp-content .content h3 {
    font-size: 1.75rem;
}

.edu-exp-content .content p {
    font-size: 1.25rem;
    padding-top: 0.5rem;
}

.skills {
    min-height: 100vh;
    padding-bottom: 5rem;
    background: var(--main-color);
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box {
    position: relative;
}


.skills-box .skills-content::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.6rem;
    background: var(--accent-color);
    z-index: -1;
    transition: 0.5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--second-bg-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.65rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--second-bg-color);
    padding: 0.5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 3rem;
    background: var(--second-bg-color);
}

/* java */
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

/* html/css */
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;
}

/* typescript */
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;
}

/* c++ */
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

/* problem solving */
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 100%;
}

/* test */
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}

/* web design/development */
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
}

/* database */
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

.disclaimer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disclaimer {
    padding: 4rem;
    width: 80%;
    color: var(--accent-color);
    text-align: center;
    font-size: 1.5rem;
}

.contact {
    min-height: 100vh;
    padding-bottom: 10rem;
}

.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--second-bg-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
} 

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.footer {
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 5%;
    background: var(--second-bg-color);
    z-index: 10;
}

.footer-text {
    font-size: 1.25rem;
    color: var(--bg-color)
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.home-img {
    width: 100%;
}

.animate.btn-box {
    width: 36.5rem;
    height: 8rem;
    top: -1rem;
    right: -1rem;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 2.5%;
    }

    section {
        min-height: 100vh;
        padding: 10rem 2.5% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 1rem 2.5%;
    }
}

@media (max-width: 768px) {

    section {
        min-height: 100vh;
    }

    .home-img img {
        margin-top: 100px;
        margin-bottom: 3rem;
        border-radius: 50%;
        border: 0.5rem solid var(--second-bg-color);
    }

    .home {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        align-content: center;
    }

    .home .home-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .home .home-content .home-socials {
        position: relative;
    }

    .header {
        /*position: fixed;
        top: 0;
        left: 0;
        */
        background: var(--bg-color);
    }

    #menu-icon {
        position: relative;
        display: block;

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: 0.25s ease;
        transition-delay: 0.25s;
        z-index: 1;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0,0,0, 0.2);
        z-index: -1;
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: 0.25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0.25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: 0.25s;
    }
}

@media (max-width: 520px) {

    section {
        min-height: 100vh;
    }

    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-socials a {
        width: 38px;
        height: 38px;
    }

    .home-socials {
        margin: 20px;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }
}

/* KEYFRAMES ANIMATION */

@keyframes homeBgText {
    0%, 10%, 100% {
        background-position: -45rem 0;
    }

    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%, 10%, 100% {
        width: 0;
    }

    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }

    75%, 81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0%;
    }

    0% {
        width: 100%;
    }
}