@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #595758;
    --second-bg-color: #ADBDFF;
    --accent-color: #B0FE76;
    --main-color: #5b7c63;
    --text-color: #FFFFFF;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 450;
    margin-left: 3.5rem;
    transition: 0.25s;
}

.navbar a:hover, 
.navbar a:active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 5% 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img img {
    position: relative;
    width: 550px;
    border-radius: 50%;
    margin-right: 60px;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
}

.home-content .text-animate {
    position: relative;

}

.home-content .text-animate h3 {
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--accent-color);
}

.home-content p {
    font-size: 1.5rem;
    margin: 1.5rem 0 4rem;
}

.button-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.button-box .button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: var(--second-bg-color);
    border: 0.2rem solid var(--second-bg-color);
    border-radius: 0.8rem;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.button-box .button:hover{
    color: var(--second-bg-color);
}

.button-box .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.button-box .button:hover::before {
    width: 100%;
}

.home-socials {
    position: absolute;
    width: 100px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--accent-color);
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--accent-color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-socials a:hover{
    color: var(--bg-color);
}

.home-socials a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--accent-color);
    z-index: -1;
    transition: 0.5s;;
}

.home-socials a:hover::before {
    width: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--main-color)

}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--second-bg-color);
}

.about-me-img {
    position: relative;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--second-bg-color);
}

.about-me-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-right: 0.2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}

.button-box.buttons {
    justify-content: center;
    font-size: 1.5rem;
}

.edu-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.edu-exp .edu-exp-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.edu-exp .edu-exp-column {
    flex: 1 1 40rem;
}

.edu-exp-column .title {
    font-size: 2.5rem;
    color: var(--second-bg-color);
    margin: 0 0 1.5rem 2rem;
}

.edu-exp-column .edu-exp-box {
    border-left: .2rem solid var(--accent-color);
}

.edu-exp-box .edu-exp-content {
    position: relative;
    padding-left: 2rem;
}

.edu-exp-box .edu-exp-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--accent-color);
    border-radius: 50%;
}

.edu-exp-content .content {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 1.5rem;
    border: 0.2rem solid var(--accent-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.edu-exp-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}

.edu-exp-content .content:hover::before {
    width: 100%;
}

.edu-exp-content .content .year {
    font-size: 1.5rem;
    color: var(--second-bg-color);
    padding-bottom: .5rem;
}

.edu-exp-content .content .year i {
    padding-right: 0.5rem
}

.edu-exp-content .content h3 {
    font-size: 1.75rem;
}

.edu-exp-content .content p {
    font-size: 1.25rem;
    padding-top: 0.5rem;
}